<!DOCTYPE html>
<html>
<head>
    <title>Download Page</title>
    <!-- Add Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <div class="card">
            <div class="card-header">
                <h3 class="text-center">Enter Password to Download</h3>
            </div>
            <div class="card-body">
                <form action="/download" method="post" class="text-center">
    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" id="password" name="password" required>
    </div>
    <input type="hidden" name="token" value="{{ token }}"> <!-- Add the hidden token input -->
    <input type="hidden" name="file_url" value="{{ protected_url }}">
    <button type="submit" class="btn btn-primary">Download</button>
</form>

            </div>
        </div>
    </div>

    <!-- Add Bootstrap JS (optional, but some Bootstrap features may require it) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
